nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
  .container
    a.navbar-brand(href="/") <span class="first-letter">h</span>ari <span class="first-letter">i</span>langovan | <span class="first-letter">hi</span>fi analytics
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse(id="navbarNavDropdown")
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current="page", href="/") Home
        li.nav-item
          a.nav-link.active(aria-current="page", href="/notes/collection") Notes
        li.nav-item
          a.nav-link.active(aria-current="page", href="/articles/collection") Posts
        //- li.nav-item.dropdown
        //-   a.nav-link.dropdown-toggle(href="#", id="navbarDropdownMenuLink", role="button", data-bs-toggle="dropdown", aria-expanded="false") Words
        //-   ul.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
        //-     li
        //-       a.dropdown-item(href="/articles/collection") Notes
        //-       a.dropdown-item(href="/articles/collection") Posts
            //- li
            //-   a.dropdown-item(href="/articles/industry") Industry