.d-flex.flex-column.h-100
    .p-4.bg-light.rounded.mb-3
        h4 Welcome
        p My perspectives on data science and the broad field of analytics.
        .container.align-items-start
            a(href='https://github.com/LifeOfHi')
                img.img-fluid(src="/static/images/github_icon.png", style='height: 2.5em')
            a(href='mailto:ilangovan.hari@gmail.com')
                img.img-fluid(src="/static/images/gmail_icon.png", style='height: 2.5em')
            a(href='https://www.linkedin.com/in/hari-ilangovan/')
                img.img-fluid(src="/static/images/linkedin_icon.png", style='height: 2.5em')
    .container.mb-auto
        img.img-fluid(src="/static/images/headshot_smile_far.png")
    .container.mb-auto#container-2
        p.hidden-text
    //- canvas#normalDistributionCanvas(width="200", height="150")
    //- script(src="/static/javascripts/drawNormal.js")
    .p-2.mb-1 The views expressed on this blog are solely the opinions of individual authors and do not necessarily reflect official policy or held positions.
