.row 
    h2 A/B Testing
.row
    p A/B testing  is a common quantitiative approach for evaluating two choices in a randomized experiment. Often, this hypothesis testing framework is the driver for marketing decisions within front end applications. For such a popular method, I could not find  any clear explanations of the statistical engine that drives it. After doing my own research, I found A/B testing to be an elegant example of statistics working at scale to inform nonobvious decisions. The purpose for this article is to highlight the data science concepts underlying A/B testing. 